@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;400;500;700;800;1000&display=swap");


.skill img {
  width: 50px;
  height: 50px;
  margin: 10px;
}

header img {
  width: 100%;
  max-width: 300px;
  object-fit: cover;
}

.skills {
  border-bottom: #2ad882 0.5px solid;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
body {
  background-color: #2ad882 !important;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  /* margin: 10px;
  padding: 10px;
  height: 200px; */
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  /* background-color: #000000; */

  /* width: 300px; */
}
.aboutMeText {
  font-size: 16px;
  font-weight: 500;
  font-family: jetbrains mono;
  text-align: center;
  color: white;
  width: 600px;
}

.discover {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  font-family: jetbrains mono;
  text-align: center;
  color: white;
  width: 100px;
  height: 40px;
  background-color: #1f1f1f;
  transition: all 0.3s ease;
  padding: 10px;
}

.discover:hover {
  background-color: #2ad882;
  color: black;
}

.links {
  display: flex;
  align-items: center;
}

.links img {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.headImg img {
  /* width: 500px !important; */
  max-width: unset;
  /* background-color: #2ad882; */
  background-image: linear-gradient(120deg, #2ad882 30%, #515151 100%);
  border-radius: 80% 0px 80% 0px;

  /* object-position: 50px; */
}

@media (max-width: 768px) {
  .headImg {
    display: none;
  }

  .stats-grid {
    grid-template-columns: 1fr !important;
    /* gap: 0 !important; */
  }

  .intro {
    margin: 20px !important;
  }

  .stats-grid div:nth-child(1),
  .stats-grid div:nth-child(2) {
    border: none !important;
    /* border-bottom: #2ad882 2px solid !important; */
  }

  .aboutMeText {
    width: 300px;
  }

  nav {
    margin: unset !important;
    display: flex;
    justify-content: center;
    margin-top: 50px !important;
  }

  .socialMedia {
    /* bottom: 0; */
    top: 0 !important;
    flex-direction: row !important;
    position: absolute !important;
  }
  .project-card {
    max-width: unset !important;

    width: 100% !important;
  }
}

.skill-card img {
  width: 60px;
  /* height: 50px; */
}

header {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  height: 60vh;

  /* background-color: #222222; */
  /* background-color: #f4f9fc; */
  color: black;
  color: white;
  font-family: jetbrains mono;
}

strong {
  color: #2ad882;
  font-weight: 1000 !important;
}

nav {
  margin: 50px;
  margin-left: 100px;
}

nav ul {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  list-style: none;
}

nav ul li a {
  margin: 10px;
  text-decoration: none;
  font-family: jetbrains mono;
  color: white;
  transition: all 0.3s ease;
}

.about img {
  width: 200px;
}

nav ul li a:hover {
  color: #2ad882;
}

h1 {
  font-size: 56px;
  font-weight: 800;
}

body {
  /* background-color: #34353a; */
  background-color: white;
  /* margin: 10px; */
}

section {
  background-color: rgb(31, 31, 31);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  /* background-color: #1f242b; */
  background-color: #222222;

  /* border: white 20px solid; */
  /* margin: 20px; */
  height: 100vh;
  border: #2ad882 0.5px solid;
}

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  left: 0;
  margin: 10px;
  top: 10%;
  z-index: 1000;
}

.socialMedia a {
  margin: 10px;
}

.socialMedia svg {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.project-card img {
  /* border-radius: 10px 10px 0px 0px; */
  /* max-width: 30%; */
}
.project-card {
  max-width: 45%;
  margin: 10px;
  /* background-color: rgb(40, 45, 45); */
}
.projectImg {
  /* height: 300px !important; */
  /* height: 400px !important; */
}

.mywork {
  background-color: #222222;
  width: 100%;
}

#root > div > section > div.projects > div:nth-child(5) > div > a.discover {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.project-card {
  /* height: 300px; */
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #222222;
  padding: 20px;
}

.subtitle {
  font-size: 32px;
  font-weight: 600;
  font-family: jetbrains mono;
  text-align: center;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px;
}

.stats-grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.stats-grid div:nth-child(1),
.stats-grid div:nth-child(2) {
  border-right: #2ad882 2px solid;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  font-family: jetbrains mono;
}

.stats h2 {
  font-size: 24px;
  font-weight: 600;
  color: #2ad882;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  font-family: jetbrains mono;
  width: 50%;
}
